<!DOCTYPE html>
<html lang="kr">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta property="og:image" content="images/thumbnail.jpg">
  <meta property="og:title" content="토브데이터">
  <meta name="twitter:title" content="토브데이터">
  <meta name="keywords" content="TOVDATA,토브,토브데이터,개인정보,Privacy,Data Management">
  <meta name="robots" content="index,nofollow">
  <title>TOVDATA</title>
  <link rel="icon" href="icons/favicon.svg">

  <!-- Font style -->
  <link rel="stylesheet" href="stylesheets/font.css">
  <!-- Nav style -->
  <link rel="stylesheet" href="stylesheets/nav.css">
  <!-- Footer style -->
  <link rel="stylesheet" href="stylesheets/footer.css">
  <!-- Color style -->
  <link rel="stylesheet" href="stylesheets/color.css">
  <!-- Global style -->
  <link rel="stylesheet" href="stylesheets/global.css">
  <!-- Company style -->
  <link rel="stylesheet" href="stylesheets/custom-company.css">
  <!-- Tailwindcss 2.0.3 -->
  <link rel="stylesheet" href="stylesheets/tailwind.min.css">
</head>

<body>
  <!-- Nav -->
  <%- include('./common/nav') %>
  <!-- Page section -->
  <section>
    <article class="tov-hero" style="background-image: url('/images/hero/company.png');">
      <div class="tov-container mx-auto tov-px">
        <div class="tov-hero-content">
          <h1 class="tov-font-en title">Build<br>Trust, Opportunity, Value<br>on your Data.</h1>
        </div>
      </div>
    </article>
    <article class="tov-section">
      <div class="tov-container mx-auto tov-px">
        <div class="tov-form">
          <div class="mb-25 md:mb-20 tov-form-row tov-flex-col">
            <div class="tov-form-image">
              <img src="images/company/mission.png">
            </div>
            <div class="lg:ml-24 md:ml-18 md:mt-0 ml-0 mt-12 tov-form-content">
              <h5 class="title-point">Mission</h5>
              <h3 class="title">토브데이터는 고객의 신뢰로부터 기업이 성장할 수 있다고 믿습니다</h3>
              <p class="description">데이터 경제 시대의 신뢰를 바탕으로 한 선순환 생태계를 만드는 일에 토브데이터가 앞장서겠습니다</p>
            </div>
          </div>
          <div class="tov-form-row tov-flex-col-reverse">
            <div class="lg:mr-24 md:mr-18 md:mt-0 mr-0 mt-12 tov-form-content">
              <h5 class="title-point">Motivation</h5>
              <h3 class="title">토브데이터가 가장 잘 할 수 있고, 가장 자신 있는 일을 하고자 합니다</h3>
              <p class="description">오랜기간 IT분야에서 다양한 전문성을 가진 사람들이 누구나 공감하는 중요한 문제의 해결을 통해 기술로써 사회적 가치를 실현하고, 더 나아가 신뢰 있는
                사회를 만드는 일에 기여하고자 합니다</p>
            </div>
            <div class="tov-form-image">
              <img src="images/company/motivation.png">
            </div>
          </div>
        </div>
      </div>
    </article>
    <article class="tov-section" style="background-color: #F5F8FD;">
      <div class="tov-container mx-auto tov-px">
        <div class="tov-form">
          <div class="tov-form-row">
            <h2 class="tov-comment w-full">Build TRUST, by TOVDATA<br>신뢰있는 사람들이 모여 신뢰있는 기업을 만들고자 합니다</h2>
          </div>
        </div>
      </div>
    </article>
    <article class="tov-section">
      <div class="tov-container mx-auto tov-px">
        <div class="tov-form">
          <div class="tov-company-form">
            <div class="tov-company-form-header">
              <h5 class="title-point">Team</h5>
              <h3 class="title">TOVDATA’s Member</h3>
            </div>
            <div class="tov-company-form-content">
              <div class="grid grid-cols-1 gap-y-9 md:grid-cols-3 xs:grid-cols-2">
                <div class="col-span-1 tov-member-card">
                  <div class="tov-member-image">
                    <img src="/images/company/member/ellie.png">
                  </div>
                  <div class="tov-member-content">
                    <h5 class="name">박효진</h5>
                    <p class="position">CEO, Founder</p>
                    <p class="career">KAIST 정보통신공학 박사</p>
                  </div>
                </div>
                <div class="col-span-1 tov-member-card">
                  <div class="tov-member-image">
                    <img src="/images/company/member/tim.png">
                  </div>
                  <div class="tov-member-content">
                    <h5 class="name">정성관</h5>
                    <p class="position">CTO, Co-Founder</p>
                    <p class="career">KAIST 전기및전자공학 박사</p>
                    <p class="career">KAIST IT융합연구소</p>
                  </div>
                </div>
                <div class="col-span-1 tov-member-card">
                  <div class="tov-member-image">
                    <img src="/images/company/member/suzy.png">
                  </div>
                  <div class="tov-member-content">
                    <h5 class="name">전수지</h5>
                    <p class="position">CMO, Co-Founder</p>
                    <p class="career">충남대학교 경영학 박사</p>
                    <p class="career">KAIST IT융합연구소</p>
                  </div>
                </div>
                <div class="col-span-1 tov-member-card">
                  <div class="tov-member-image">
                    <img src="/images/company/member/leo.png">
                  </div>
                  <div class="tov-member-content">
                    <h5 class="name">전규영</h5>
                    <p class="position">Developer</p>
                    <p class="career">성균관대학교 컴퓨터공학 석사</p>
                    <p class="career">SKT, LG전자</p>
                  </div>
                </div>
                <div class="col-span-1 tov-member-card">
                  <div class="tov-member-image">
                    <img src="/images/company/member/min.png">
                  </div>
                  <div class="tov-member-content">
                    <h5 class="name">박해민</h5>
                    <p class="position">Developer</p>
                    <p class="career">KAIST IT융합연구소</p>
                  </div>
                </div>
                <div class="col-span-1 tov-member-card"></div>
                <div class="col-span-1 tov-member-card">
                  <div class="tov-member-image">
                    <img src="/images/company/member/seon.png">
                  </div>
                  <div class="tov-member-content">
                    <h5 class="name">박효주</h5>
                    <p class="position">Manager</p>
                    <p class="career">KAIST 기술경영 석사</p>
                    <p class="career">부산산업과학혁신원(BISTEP)</p>
                  </div>
                </div>
                <div class="col-span-1 tov-member-card">
                  <div class="tov-member-image">
                    <img src="/images/company/member/logan.png">
                  </div>
                  <div class="tov-member-content">
                    <h5 class="name">최환석</h5>
                    <p class="position">Manager</p>
                    <p class="career">한밭대학교 멀티미디어공학 박사</p>
                    <p class="career">KAIST 전기및전자공학과</p>
                  </div>
                </div>
                <div class="col-span-1 tov-member-card">
                  <div class="tov-member-image">
                    <img src="/images/company/member/jenny.png">
                  </div>
                  <div class="tov-member-content">
                    <h5 class="name">정재은</h5>
                    <p class="position">Designer</p>
                    <p class="career">인제대학교 헬스케어IT공학 석사</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tov-form-row tov-form-row-pt">
            <div class="tov-comment-form tov-jop-post">
              <h2 class="tov-comment left">토브데이터와 함께하고 싶다면?</h2>
              <div class="flex justify-center">
                <a class="tov-comment-button" onclick="goNotion()">토브데이터 채용공고 바로가기</a>
              </div>
            </div>
          </div>
          <div class="tov-company-form tov-form-row-pt">
            <div class="tov-company-form-header">
              <h5 class="title-point">Growth</h5>
              <h3 class="title">TOVDATA’s History</h3>
            </div>
            <div class="flex-1 md:mt-10 mt-4 tov-company-form-content">
              <div class="tov-history">
                <div class="tov-history-row">
                  <div class="tov-history-row-left">
                    <div class="tov-history-content">
                      <p>파트너 프로그램 런칭</p>
                    </div>
                  </div>
                  <div class="tov-history-flow">
                    <span class="block tov-history-flow-circle"></span>
                    <span class="block tov-history-flow-bar"></span>
                  </div>
                  <div class="tov-history-row-right"></div>
                </div>
                <div class="tov-history-row">
                  <div class="tov-history-row-left"></div>
                  <div class="tov-history-flow">
                    <span class="block tov-history-flow-circle fill"></span>
                    <span class="block tov-history-flow-bar"></span>
                  </div>
                  <div class="tov-history-row-right">
                    <h5 class="tov-history-month">05</h5>
                    <div class="tov-history-content">
                      <p>대전팁스타운 입주</p>
                    </div>
                  </div>
                </div>
                <div class="tov-history-row">
                  <div class="tov-history-row-left"></div>
                  <div class="tov-history-flow">
                    <span class="block tov-history-flow-circle fill"></span>
                    <span class="block tov-history-flow-bar"></span>
                  </div>
                  <div class="tov-history-row-right">
                    <h5 class="tov-history-month">04</h5>
                    <div class="tov-history-content">
                      <p>벤처기업 인증</p>
                    </div>
                  </div>
                </div>
                <div class="tov-history-row">
                  <div class="tov-history-row-left">
                    <div class="tov-history-content">
                      <p>스타트업을 위한 개인정보보호 컨설팅 이벤트</p>
                    </div>
                  </div>
                  <div class="tov-history-flow">
                    <span class="block tov-history-flow-circle"></span>
                    <span class="block tov-history-flow-bar"></span>
                  </div>
                  <div class="tov-history-row-right"></div>
                </div>
                <div class="tov-history-row">
                  <div class="tov-history-row-left">
                    <h5 class="tov-history-month">01</h5>
                    <div class="tov-history-content">
                      <p>기업부설연구소 설립</p>
                    </div>
                  </div>
                  <div class="tov-history-flow">
                    <span class="block tov-history-flow-circle"></span>
                    <span class="block tov-history-flow-bar"></span>
                  </div>
                  <div class="tov-history-row-right"></div>
                </div>
                <h5 class="tov-history-year">2021</h5>
                <div class="tov-history-row">
                  <div class="tov-history-row-left"></div>
                  <div class="tov-history-flow">
                    <span class="block tov-history-flow-circle fill"></span>
                    <span class="block tov-history-flow-bar"></span>
                  </div>
                  <div class="tov-history-row-right">
                    <h5 class="tov-history-month">12</h5>
                    <div class="tov-history-content">
                      <p>TIPS 프로그램 선정</p>
                    </div>
                  </div>
                </div>
                <div class="tov-history-row">
                  <div class="tov-history-row-left">
                    <div class="tov-history-content">
                      <p>경남 김해 강소특구 전문인력양성 사업 수행</p>
                    </div>
                  </div>
                  <div class="tov-history-flow">
                    <span class="block tov-history-flow-circle"></span>
                    <span class="block tov-history-flow-bar"></span>
                  </div>
                  <div class="tov-history-row-right"></div>
                </div>
                <div class="tov-history-row">
                  <div class="tov-history-row-left">
                  </div>
                  <div class="tov-history-flow">
                    <span class="block tov-history-flow-circle fill"></span>
                    <span class="block tov-history-flow-bar"></span>
                  </div>
                  <div class="tov-history-row-right">
                    <h5 class="tov-history-month">11</h5>
                    <div class="tov-history-content">
                      <p>KAIST Tech Day 참가</p>
                      <p>KAIST LabStartup 수상(3위)</p>
                    </div>
                  </div>
                </div>
                <div class="tov-history-row">
                  <div class="tov-history-row-left">
                    <h5 class="tov-history-month">10</h5>
                    <div class="tov-history-content">
                      <p>대전창조경제혁신센터 입주</p>
                    </div>
                  </div>
                  <div class="tov-history-flow">
                    <span class="block tov-history-flow-circle"></span>
                    <span class="block tov-history-flow-bar"></span>
                  </div>
                  <div class="tov-history-row-right"></div>
                </div>
                <div class="tov-history-row">
                  <div class="tov-history-row-left">
                  </div>
                  <div class="tov-history-flow">
                    <span class="block tov-history-flow-circle fill"></span>
                    <span class="block tov-history-flow-bar"></span>
                  </div>
                  <div class="tov-history-row-right">
                    <h5 class="tov-history-month">09</h5>
                    <div class="tov-history-content">
                      <p>Seed 투자유치<br>(by 카이스트청년창업투자지주)</p>
                    </div>
                  </div>
                </div>
                <div class="tov-history-row">
                  <div class="tov-history-row-left">
                  </div>
                  <div class="tov-history-flow">
                    <span class="block tov-history-flow-circle fill"></span>
                    <span class="block tov-history-flow-bar"></span>
                  </div>
                  <div class="tov-history-row-right">
                    <h5 class="tov-history-month">08</h5>
                    <div class="tov-history-content">
                      <p>DVS(Dream Venture Star) 프로그램 선정</p>
                    </div>
                  </div>
                </div>
                <div class="tov-history-row">
                  <div class="tov-history-row-left">
                    <h5 class="tov-history-month">07</h5>
                    <div class="tov-history-content">
                      <p>dEMS PoC with AWS Korea</p>
                    </div>
                  </div>
                  <div class="tov-history-flow">
                    <span class="block tov-history-flow-circle"></span>
                    <span class="block tov-history-flow-bar"></span>
                  </div>
                  <div class="tov-history-row-right"></div>
                </div>
                <div class="tov-history-row">
                  <div class="tov-history-row-left">
                  </div>
                  <div class="tov-history-flow">
                    <span class="block tov-history-flow-circle fill"></span>
                    <span class="block tov-history-flow-bar"></span>
                  </div>
                  <div class="tov-history-row-right">
                    <h5 class="tov-history-month">06</h5>
                    <div class="tov-history-content">
                      <p>KAIST E5 프로그램 최우수상(1위)</p>
                    </div>
                  </div>
                </div>
                <div class="tov-history-row">
                  <div class="tov-history-row-left">
                  </div>
                  <div class="tov-history-flow">
                    <span class="block tov-history-flow-circle fill"></span>
                    <span class="block tov-history-flow-bar"></span>
                  </div>
                  <div class="tov-history-row-right">
                    <h5 class="tov-history-month">05</h5>
                    <div class="tov-history-content">
                      <p>AWS Partnet Network 가입</p>
                      <p>Seed 투자유치<br>(by 피아몬드 주식회사)</p>
                    </div>
                  </div>
                </div>
                <div class="tov-history-row">
                  <div class="tov-history-row-left">
                  </div>
                  <div class="tov-history-flow">
                    <span class="block tov-history-flow-circle fill"></span>
                    <span class="block tov-history-flow-bar"></span>
                  </div>
                  <div class="tov-history-row-right">
                    <h5 class="tov-history-month">04</h5>
                    <div class="tov-history-content">
                      <p>TOVDATA 설립</p>
                    </div>
                  </div>
                </div>
                <h5 class="tov-history-year">2020</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
    <!-- Footer -->
    <%- include('./common/footer')%>
  </section>

  <script>
    function goNotion() {
      window.open('https://truth-promotion-99b.notion.site/cca7af2c8fae499386c3a4d0c9e9ff5f', '_blank');
    }
  </script>
</body>

</html>