<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta property="og:image" content="images/thumbnail.jpg">
    <meta property="og:title" content="토브데이터">
    <meta name="twitter:title" content="토브데이터">
    <meta name="keywords" content="TOVDATA,토브,토브데이터,개인정보,Privacy,Data Management">
    <meta name="robots" content="index,follow">
    <title>TOVDATA</title>
    <link rel="icon" href="icons/favicon.svg">

    <!-- Font style -->
    <link rel="stylesheet" href="stylesheets/font.css">
    <!-- Nav style -->
    <link rel="stylesheet" href="stylesheets/nav.css">
    <!-- Footer style -->
    <link rel="stylesheet" href="stylesheets/footer.css">
    <!-- Color style -->
    <link rel="stylesheet" href="stylesheets/color.css">
    <!-- Global style -->
    <link rel="stylesheet" href="stylesheets/global.css">
    <!-- Tailwindcss 2.0.3 -->
    <link rel="stylesheet" href="stylesheets/tailwind.min.css">
    <style>
      .contact-form {
        flex: 1;
        position: relative;
      }
      .contact-form > .content > p {
        display: block;
        font-size: 1.125rem;
        margin-top: 0.625rem;
      }
      .contact-form > .content > p:first-child {
        margin-top: 0;
      }
      .contact-address-subject,
      .contact-form > .subject {
        font-family: 'GmarketSans', sans-serif;
        font-size: 1.25rem;
        font-weight: 700;
        user-select: none;
      }
      .contact-map {
        cursor: pointer;
        height: 17.5rem;
        min-width: 36.25rem;
        width: 100%;
      }
      @media(max-width: 1024px) {
        .contact-form {
          flex: 100%;
          width: 100%;
        }
        .contact-map {
          height: 21.25rem;
          min-width: 0%;
          width: 100%;
        }
      }
      @media(max-width: 768px) {
        .contact-address-subject,
        .contact-form > .subject {
          font-size: 1.125rem;
        }
        .contact-form > .content > p {
          font-size: 1rem;
        }
      }
    </style>
  </head>
  <body>
    <!-- Nav -->
    <%- include('./common/nav') %>
    <!-- Page section -->
    <section>
      <article class="tov-hero" style="background-image: url('/images/hero/contact.png');">
        <div class="tov-container mx-auto tov-px">
          <div class="tov-hero-content">
            <h1 class="title tov-font-en">Contact</h1>
            <h5 class="mt-6 sub-title tov-font-en">Build Trust, Opportunity, Value with TOVDATA</h5>
          </div>
        </div>
      </article>
      <article class="tov-section">
        <div class="tov-container mx-auto tov-px">
          <div class="tov-form">
            <div class="tov-form-row tov-flex-col">
              <div class="contact-form grid grid-cols-9 gap-9">
                <h5 class="col-span-3 subject">Email</h5>
                <div class="col-span-6 content">
                  <p class="tov-font-en">contact@tovdata.com</p>
                </div>
              </div>
              <div class="contact-form grid grid-cols-9 gap-9 md:mt-0 mt-20">
                <h5 class="col-span-3 subject">Call</h5>
                <div class="col-span-6 content">
                  <p class="tov-font-en">042.721.8100</p>
                  <p class="tov-font-en">042.721.8101 (FAX)</p>
                </div>
              </div>
            </div>
            <h5 class="contact-address-subject md:mb-5 md:mt-20 mb-7.5 mt-25">Address</h5>
            <div class="md:mb-7.5 mb-15 tov-form-row tov-flex-col">
              <div class="contact-form md:mb-0 md:mr-22 mb-5 mr-0">
                <div class="content">
                  <p class="font-bold mb-2.5 tov-font-kr" style="color: #274F9D;">본사</p>
                  <p class="tov-font-kr">대전광역시 유성구 대학로 291, KAIST E19, 9F 대전창조경제혁신센터</p>
                </div>
              </div>
              <div class="contact-form">
                <div class="bg-blue-200 contact-map" id="map-head-office"></div>
              </div>
            </div>
            <div class="tov-form-row tov-flex-col">
              <div class="contact-form md:mb-0 md:mr-22 mb-5 mr-0">
                <dic class="content">
                  <p class="font-bold mb-2.5 tov-font-kr" style="color: #274F9D;">연구소</p>
                  <p class="tov-font-kr">대전광역시 유성구 대학로 99, 대전팁스타운 502호</p>
                </dic>
              </div>
              <div class="contact-form">
                <div class="bg-blue-200 contact-map" id="map-research-institute"></div>
              </div>
            </div>
          </div>
        </div>
      </article>
      <!-- Footer -->
      <%- include('./common/footer')%>
    </section>

    <!-- Kakao map JS -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a7fa64ad7ffa608c81d44c1ed69cfbd5&libraries=clusterer,drawing"></script>
    <!-- Map -->
    <script>
      // Map various
      const mapLevel = 4;
      // Default map options
      const defaultMapOptions = {
        disableDoubleClick: false,
        disableDoubleClickZoom: false,
        draggable: false,
        level: mapLevel,
        scrollwheel: false
      };
      // Get map containers
      const containerMapHO = document.getElementById('map-head-office');
      const containerMapRI = document.getElementById('map-research-institute');
      // Set position
      const posHO = new kakao.maps.LatLng(36.3683901619272, 127.36662335381794);
      const posRI = new kakao.maps.LatLng(36.36332909216839, 127.34691762683119);
      // Set options
      const optionsHO = JSON.parse(JSON.stringify(defaultMapOptions));
      const optionsRI = JSON.parse(JSON.stringify(defaultMapOptions));
      optionsHO.center = posHO;
      optionsRI.center = posRI;
      // Create map
      const mapHO = new kakao.maps.Map(containerMapHO, optionsHO);
      const mapRI = new kakao.maps.Map(containerMapRI, optionsRI);
      // Set marker
      new kakao.maps.Marker({
        map: mapHO,
        position: posHO
      });
      new kakao.maps.Marker({
        map: mapRI,
        position: posRI
      });

      // Click event
      containerMapHO.addEventListener('click', function() {
        window.open('	https://map.kakao.com/link/map/TOVDATA,36.3683901619272,127.36662335381794', '_blank')
      });
      containerMapRI.addEventListener('click', function() {
        window.open('	https://map.kakao.com/link/map/TOVDATA연구소,36.36332909216839, 127.34691762683119', '_blank')
      });
    </script>
  </body>
</html>