<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>TOVDATA</title>

    <!-- Font CSS -->
    <link rel="stylesheet" href="stylesheets/font.css">
    <!-- Tailwindcss 2.0.3 -->
    <link rel="stylesheet" href="stylesheets/tailwind.min.css">
    <!-- Font Awesome 5.10.0 -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="stylesheets/animate.min.css">
    <!-- Global CSS -->
    <link rel="stylesheet" href="stylesheets/global.css">
    <!-- Custom -->
    <style>
      /* Hero */
      .hero {
        padding-bottom: 8.375rem;
        padding-top: 8.375rem;
      }
    </style>
  </head>
  <body>
    <!-- Navbar -->
    <%- include('./common/nav') %>
    <!-- Page body -->
    <section>
      <!-- Hero -->
      <article class="hero-section">
        <div class="hero-container tov-bg-gray-7">
          <div class="container mx-auto tov-px-default">
            <div class="hero">
              <div class="hero-content">
                <h1 class="font-bold md:text-5xl text-4xl tov-font-gray-2 tov-font-en tov-line-height">Build<br/>Trust, Opportunity, Value<br/>on your Data.</p>
              </div>
              <!-- <div class="hero-image border tov-border-blue-4"></div> -->
            </div>
          </div>
        </div>
      </article>
      <!-- Page content -->
      <article class="tov-section">
        <div class="container mx-auto">
          <div class="tov-container">
            <div class="mb-17 items-center tov-container-row">
              <div class="tov-image tov-image-sol">
                <img class="w-full" src="/images/company/mission.png">
              </div>
              <div class="tov-row-content md:ml-23">
                <h5 class="mb-2 text-lg tov-font-en tov-font-blue-3">Misson</h5>
                <h3 class="font-bold mb-7 text-3xl tov-font-kr tov-font-blue-2 tov-line-height">토브데이터는 고객의 신뢰로부터 기업이 성장할 수 있다고 믿습니다</h3>
                <p class="mb-7.5 text-lg tov-font-kr tov-font-gray-3">데이터 경제 시대의 신뢰를 바탕으로 한 선순환 생태계를 만드는 일에 토브데이터가 앞장서겠습니다</p>
              </div>
            </div>
            <div class="items-center tov-container-row tov-container-row-reverse">
              <div class="tov-image tov-image-sol">
                <img class="w-full" src="/images/company/motivation.png">
              </div>
              <div class="tov-row-content md:mr-23">
                <h5 class="mb-2 text-lg tov-font-en tov-font-blue-3">Motivation</h5>
                <h3 class="font-bold mb-7 text-3xl tov-font-kr tov-font-blue-2 tov-line-height">토브데이터가 가장 잘 할 수 있고, 가장 자신 있는 일을 하고자 합니다</h3>
                <p class="mb-7.5 text-lg tov-font-kr tov-font-gray-3">오랜기간 IT분야에서 다양한 전문성을 가진 사람들이 누구나 공감하는 중요한 문제의 해결을 통해 기술로써 사회적 가치를 실현하고, 더 나아가 신뢰 있는 사회를 만드는 일에 기여하고자 합니다</p>
              </div>
            </div>
          </div>
        </div>
      </article>
      <article class="tov-section tov-bg-blue-5">
        <div class="container mx-auto">
          <div class="tov-container">
            <h3 class="font-bold text-4xl text-center tov-font-kr tov-font-blue-2 tov-line-height">Build TRUST, by TOVDATA<br/>신뢰있는 사람들이 모여 신뢰있는 기업을 만들고자 합니다</h3>
          </div>
        </div>
      </article>
      <article class="tov-section">
        <div class="container mx-auto">
          <div class="tov-container">
            <div class="flex flex-col lg:flex-row">
              <div class="lg:mb-0 lg:mr-21 mb-20 mr-0">
                <p class="mb-1.5 text-lg tov-font-blue-3 tov-font-en">Team</p>
                <h3 class="break-words font-bold text-3xl tov-font-gray-2 tov-font-en xl:whitespace-nowrap whitespace-normal">TOVDATA’s Member</h3>
              </div>
              <div class="grid grid-cols-3 gap-y-9">
                <div class="col-span-1 tov-member-card">
                  <div class="px-9 tov-member-image">
                    <img src="/images/company/member/Ellie.png">
                  </div>
                  <hr class="mb-5.5 border-b border-gray-800">
                  <div class="px-11 tov-member-content">
                    <h5 class="font-bold mb-1 member-name text-xl tov-font-gray-2 tov-font-kr">박효진</h5>
                    <p class="mb-2.5 text-sm tov-font-gray-2">CEO, Founder</p>
                    <p class="member-career text-xs tov-font-gray-3">KAIST 정보통신공학 박사</p>
                  </div>
                </div>
                <div class="col-span-1 tov-member-card">
                  <div class="px-9 tov-member-image">
                    <img src="/images/company/member/Tim.png">
                  </div>
                  <hr class="mb-5.5 border-b border-gray-800">
                  <div class="px-11 tov-member-content">
                    <h5 class="font-bold mb-1 member-name text-xl tov-font-gray-2 tov-font-kr">정성관</h5>
                    <p class="mb-2.5 text-sm tov-font-gray-2">CTO, Co-Founder</p>
                    <p class="member-career text-xs tov-font-gray-3">KAIST 전기및전자공학 박사</p>
                    <p class="member-career text-xs tov-font-gray-3">KAIST IT융합연구소</p>

                  </div>
                </div>
                <div class="col-span-1 tov-member-card">
                  <div class="px-9 tov-member-image">
                    <img src="/images/company/member/Suzy.png">
                  </div>
                  <hr class="mb-5.5 border-b border-gray-800">
                  <div class="px-11 tov-member-content">
                    <h5 class="font-bold mb-1 member-name text-xl tov-font-gray-2 tov-font-kr">전수지</h5>
                    <p class="mb-2.5 text-sm tov-font-gray-2">CMO, Co-Founder</p>
                    <p class="member-career text-xs tov-font-gray-3">충남대학교 경영학 박사</p>
                    <p class="member-career text-xs tov-font-gray-3">KAIST IT융합연구소</p>
                  </div>
                </div>
                <div class="col-span-1 tov-member-card">
                  <div class="px-9 tov-member-image">
                    <img src="/images/company/member/Leo.png">
                  </div>
                  <hr class="mb-5.5 border-b border-gray-800">
                  <div class="px-11 tov-member-content">
                    <h5 class="font-bold mb-1 member-name text-xl tov-font-gray-2 tov-font-kr">전규영</h5>
                    <p class="mb-2.5 text-sm tov-font-gray-2">Developer</p>
                    <p class="member-career text-xs tov-font-gray-3">성균관대학교 컴퓨터공학 석사</p>
                    <p class="member-career text-xs tov-font-gray-3">SKT, LG전자</p>
                  </div>
                </div>
                <div class="col-span-1 tov-member-card">
                  <div class="px-9 tov-member-image">
                    <img src="/images/company/member/Min.png">
                  </div>
                  <hr class="mb-5.5 border-b border-gray-800">
                  <div class="px-11 tov-member-content">
                    <h5 class="font-bold mb-1 member-name text-xl tov-font-gray-2 tov-font-kr">박해민</h5>
                    <p class="mb-2.5 text-sm tov-font-gray-2">Developer</p>
                    <p class="member-career text-xs tov-font-gray-3">KAIST IT융합연구소</p>
                  </div>
                </div>
                <div class="col-span-1 tov-member-card">
                  <!-- <div class="px-9 tov-member-image">
                    <img src="/images/company/member/Ellie.png">
                  </div>
                  <hr class="mb-5.5 border-b border-gray-800">
                  <div class="px-11 tov-member-content">
                    <h5 class="font-bold mb-1 member-name text-xl tov-font-gray-2 tov-font-kr">박효진</h5>
                    <p class="mb-2.5 text-sm tov-font-gray-2">CEO, Founder</p>
                    <p class="member-career text-xs tov-font-gray-3">KAIST 정보통신공학 박사</p>
                  </div> -->
                </div>
                <div class="col-span-1 tov-member-card">
                  <div class="px-9 tov-member-image">
                    <img src="/images/company/member/Seon.png">
                  </div>
                  <hr class="mb-5.5 border-b border-gray-800">
                  <div class="px-11 tov-member-content">
                    <h5 class="font-bold mb-1 member-name text-xl tov-font-gray-2 tov-font-kr">박효주</h5>
                    <p class="mb-2.5 text-sm tov-font-gray-2">Manager</p>
                    <p class="member-career text-xs tov-font-gray-3">KAIST 기술경영 석사</p>
                    <p class="member-career text-xs tov-font-gray-3">부산산업과학혁신원(BISTEP)</p>
                  </div>
                </div>
                <div class="col-span-1 tov-member-card">
                  <div class="px-9 tov-member-image">
                    <img src="/images/company/member/Logan.png">
                  </div>
                  <hr class="mb-5.5 border-b border-gray-800">
                  <div class="px-11 tov-member-content">
                    <h5 class="font-bold mb-1 member-name text-xl tov-font-gray-2 tov-font-kr">최환석</h5>
                    <p class="mb-2.5 text-sm tov-font-gray-2">Manager</p>
                    <p class="member-career text-xs tov-font-gray-3">한밭대학교 멀티미디어공학 박사</p>
                    <p class="member-career text-xs tov-font-gray-3">KAIST 전기및전자공학과</p>
                  </div>
                </div>
                <div class="col-span-1 tov-member-card">
                  <div class="px-9 tov-member-image">
                    <img src="/images/company/member/Jenny.png">
                  </div>
                  <hr class="mb-5.5 border-b border-gray-800">
                  <div class="px-11 tov-member-content">
                    <h5 class="font-bold mb-1 member-name text-xl tov-font-gray-2 tov-font-kr">정재은</h5>
                    <p class="mb-2.5 text-sm tov-font-gray-2">Designer</p>
                    <p class="member-career text-xs tov-font-gray-3">인제대학교 헬스케어IT공학 석사</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
      <article class="tov-section">
        <div class="container mx-auto">
          <div class="tov-container tov-container-pb">
            <div class="tov-container-row">
              <h1 class="font-bold text-3xl tov-font-gray-1">토브데이터와 함께하고 싶다면?</h1>
              <button class="border border-blue-600 rounded-md px-8 py-1 text-lg tov-font-blue-3 tov-font-kr">토브데이터 채용공고 바로가기</button>
            </div>
          </div>
        </div>
      </article>
      <article class="tov-section">
        <div class="container mx-auto">
          <div class="tov-container">
            <div class="flex flex-col lg:flex-row">
              <div class="lg:mb-0 lg:mr-21 mb-20 mr-0">
                <p class="mb-1.5 text-lg tov-font-blue-3 tov-font-en">Growth</p>
                <h3 class="break-words font-bold text-3xl tov-font-gray-2 tov-font-en xl:whitespace-nowrap whitespace-normal">TOVDATA’s History</h3>
              </div>
              <div class="tov-history">
                <h5 class="text-2xl">2021</h5>
                <div class="tov-history-row">
                  <div class="tov-history-row-left">
                    <h5 class="text-2xl tov-font-en tov-font-gray-2">05</h5>
                    <div class="tov-history-content">
                      <p class="text-lg tov-font-gray-3 tov-font-kr">대전팁스타운 입주</p>
                    </div>
                  </div>
                  <div class="tov-history-row-right"></div>
                  <div class="tov-history-flow-circle"></div>
                  <div class="tov-history-flow-bar"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
      <!-- Footer -->
      <%- include('./common/footer') %>
    </section>

    <!-- Animate JS -->
    <script type="text/javascript" src="javascripts/animate.js"></script>
    <!-- Nav event JS -->
    <script type="text/javascript" src="javascripts/nav.js"></script>
    <script>

    </script>
  </body>
</html>