<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>TOVDATA</title>

    <!-- Font CSS -->
    <link rel="stylesheet" href="stylesheets/font.css">
    <!-- Home CSS -->
    <link rel="stylesheet" href="stylesheets/home.css">
    <!-- Tailwindcss 2.0.3 -->
    <link rel="stylesheet" href="stylesheets/tailwind.min.css">
    <!-- Font Awesome 5.10.0 -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="stylesheets/animate.min.css">   
    <!-- Global CSS -->
    <link rel="stylesheet" href="stylesheets/global.css"> 
  </head>
  <body>
    <!-- Navbar -->
    <%- include("./common/nav") %>
    <!-- Page body -->
    <section>
      <!-- Banner -->
      <article class="banner-section">
        <div class="banner-container" data-seq="1">
          <img class="banner-image" src="/images/home/banner/banner1.png"></img>
          <!-- <div class="banner-cover"></div> -->
          <div class="container mx-auto tov-px-default">
              <div class="banner">
                <div class="banner-content">
                  <h1 class="font-bold mb-10 text-5xl text-white tov-font-en tov-line-height">Privacy by Design,<br/>by TOVDATA</h1>
                  <p class="mb-8 md:text-2xl sm:text-xl text-lg text-white tov-font-kr tov-line-height">적법한 개인정보의 이용은 기업의 이미지와 고객 신뢰 형성에 핵심 요소입니다.</p>
                  <p class="md:text-2xl sm:text-xl text-lg text-white tov-font-kr tov-line-height">서비스의 기획에서부터 마케팅에 이르는 비지니스의 전 과정에서, 토브데이터는 기업과 고객들에게 가장 잘 맞는 개인정보의 수집과 이용 방법을 함께 설계하고 구현합니다.</p>
                </div>
              </div>
          </div>
        </div>
        <div class="banner-container hidden tov-bg-blue-5" data-seq="2">
          <img class="banner-image" src="/images/home/banner/banner2.png"></img>
          <!-- <div class="banner-cover"></div> -->
          <div class="container mx-auto tov-px-default">
              <div class="banner">
                <div class="banner-content">
                  <h5 class="mb-1.5 text-lg text-white tov-font-en tov-line-height">Privacy Data Access Management</h5>
                  <h1 class="font-bold mb-22 text-5xl text-white tov-font-en tov-line-height">Privacy DAM</h1>
                  <p class="md:text-2xl sm:text-xl text-lg text-white tov-font-kr tov-line-height">개인정보에 대한 접근을 한눈에!<br/>안전하고 편리한 개인정보 접근 관리로<br/>기업의 개인정보보호 수준을 UP!  고객의 신뢰도 UP! UP!</p>
                </div>
              </div>
          </div>
        </div>
        <div class="banner-container hidden" data-seq="3">
          <img class="banner-image" src="/images/home/banner/banner3.png"></img>
          <!-- <div class="banner-cover"></div> -->
          <div class="container mx-auto tov-px-default">
              <div class="banner">
                <div class="banner-content">
                  <h5 class="mb-1.5 text-lg text-white tov-font-en tov-line-height">Consulting</h5>
                  <h1 class="font-bold mb-22 text-5xl text-white tov-font-kr tov-line-height">개인정보관리 컨설팅</h1>
                  <p class="md:text-2xl sm:text-xl text-lg text-white tov-font-kr tov-line-height">기업이 올바르고 안전하게<br/>고객의 개인정보를 이용하기 위한 방법을 함께 고민합니다<br/>서비스의 상황에 맞는 안전한 개인정보 이용 방법을 제안해 드립니다</p>
                </div>
              </div>
          </div>
        </div>
        <div class="banner-indicator">
          <span class="banner-indicator-item active" data-seq="1"></span>
          <span class="banner-indicator-item" data-seq="2"></span>
          <span class="banner-indicator-item" data-seq="3"></span>
        </div>
      </article>
      <!-- Page content -->
      <article class="tov-section">
        <div class="container mx-auto">
          <div class="tov-container">
            <div class="tov-container-row items-center">
              <iframe width="510" height="295" src="https://www.youtube.com/watch?v=hWil2OMM6vk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <!-- <div class="video tov-image border tov-border-blue-4" style="height: 290px; max-width: 510px;"></div> -->
              <div class="tov-row-content md:ml-23">
                <h3 class="font-bold tov-font-kr tov-font-blue-2 tov-line-height text-3xl mb-5">고객의 개인정보를 다루는 기업들의<br/>개인정보 보호 수준을 올려드립니다</h3>
                <p class="tov-font-kr tov-font-gray-3 text-lg">데이터 활용은 선택이 아닌 필수입니다.<br/>적법한 데이터 활용은 기업의 경쟁력을 높여줌과 동시에 고객의 신뢰를 얻고,<br/>새로운 비지니스 기회를 열어줍니다.</p>
              </div>
            </div>
          </div>
        </div>
      </article>
      <article class="tov-section tov-bg-blue-5" data-section="solution">
        <div class="container mx-auto">
          <div class="tov-container tov-container-py-md">
            <div class="tov-container-header">
              <h5 class="mb-1 text-lg tov-font-en tov-font-blue-3 tov-line-height">TOVDATA’s Solutions</h5>
              <h2 class="mb-8.5 text-4xl font-bold tov-font-kr tov-font-gray-2 tov-line-height">토브데이터의 솔루션</h2>
              <hr class="border-b tov-border-blue-4 w-44">
            </div>
            <div class="opacity-0 mb-17 items-center tov-container-row">
              <div class="tov-image tov-image-sol">
                <img class="w-full" src="/images/home/solution/privacydam.png">
              </div>
              <div class="tov-row-content md:ml-23">
                <h3 class="font-bold mb-5 tov-font-en tov-font-blue-2 tov-line-height text-3xl">Privacy DAM</h3>
                <p class="mb-7.5 tov-font-kr tov-font-gray-3 text-lg">Privacy DAM은 개인정보 데이터의 접근을 제어하기 위한 관제 솔루션으로, 개인정보가 담겨있는 데이터베이스에 대한 접속을 등록/관리하고, 데이터 반출시에는 비식별화 처리를 통해, 개인정보 활용의 안전성을 높여줍니다.</p>
                <a class="border border-blue-600 rounded-md px-8 py-2 text-lg tov-font-blue-3 tov-font-kr tov-line-height" href="/privacydam">더 보기</a>
              </div>
            </div>
            <div class="opacity-0 items-center tov-container-row tov-container-row-reverse">
              <div class="tov-image tov-image-sol">
                <img class="w-full" src="/images/home/solution/consulting.jpeg">
              </div>
              <div class="tov-row-content md:mr-23">
                <h3 class="font-bold mb-5 tov-font-en tov-font-blue-2 tov-line-height text-3xl">Consulting</h3>
                <p class="mb-7.5 tov-font-kr tov-font-gray-3 text-lg">회사마다 다루고 있는 개인정보의 양과 종류는 다양합니다. 각 사의 서비스와 개인정보의 이용 목적에 따라, 관련 규정의 요구사항을 확인하고, 적법하고 안전한 개인정보 활용에 필요한 사항들을 알려드립니다.</p>
                <a class="border border-blue-600 rounded-md px-8 py-2 text-lg tov-font-blue-3 tov-font-kr tov-line-height" href="/consulting">더 보기</a>
              </div>
            </div>
          </div>
        </div>
      </article>
      <article class="tov-section" data-section="description">
        <div class="container mx-auto">
          <div class="tov-container">
            <div class="tov-container-header">
              <h5 class="mb-1 text-lg tov-font-en tov-font-blue-3 tov-line-height">Why TOVDATA?</h5>
              <h2 class="mb-8.5 text-4xl font-bold tov-font-kr tov-font-gray-2 tov-line-height">왜 토브데이터인가?</h2>
              <hr class="border-b tov-border-blue-4 w-44">
            </div>
            <div class="opacity-0 tov-container-row mb-20">
              <div class="md:grid-cols-3 sm:grid-cols-2 grid grid-cols-1 gap-13 xl:px-38 lg:px-19">
                <div class="col-span-1 tov-desc-card rounded-tr-xl rounded-bl-xl">
                  <div class="mb-6 tov-desc-card-icon">
                    <img src="icons/home/WhyTOV1.svg">
                  </div>
                  <h5 class="mb-3 text-xl tov-desc-card-title tov-font-blue-2 tov-font-kr">법에 대한 이해</h5>
                  <p class="text-md tov-desc-card-content tov-font-gray-3 tov-font-kr">국내 개인정보보호법, EU GDPR과 같은 개인정보 관련 규제와 법률의 이해</p>
                </div>
                <div class="col-span-1 tov-desc-card rounded-tr-xl rounded-bl-xl">
                  <div class="mb-6 tov-desc-card-icon">
                    <img src="icons/home/WhyTOV2.svg">
                  </div>
                  <h5 class="mb-3 text-xl tov-desc-card-title tov-font-blue-2 tov-font-kr">IT시스템의 전문성</h5>
                  <p class="text-md tov-desc-card-content tov-font-gray-3 tov-font-kr">기업의 개인정보 관리시스템과 같은 기업의 기존 정보시스템에 대한 이해</p>
                </div>
                <div class="col-span-1 tov-desc-card rounded-tr-xl rounded-bl-xl">
                  <div class="mb-6 tov-desc-card-icon">
                    <img src="icons/home/WhyTOV3.svg">
                  </div>
                  <h5 class="mb-3 text-xl tov-desc-card-title tov-font-blue-2 tov-font-kr">통계적 데이터 처리</h5>
                  <p class="text-md tov-desc-card-content tov-font-gray-3 tov-font-kr tov-line-height">기업이 보유한 개인정보 데이터의 안전한 활용을 위한 데이터 분석 기술의 이해</p>
                </div>
              </div>
            </div>
            <div class="tov-container-row mb-45">
              <div class="xl:px-38 lg:px-19">
                <p class="text-center text-lg sm:text-xl md:text-2xl tov-font-blue-3 tov-font-kr">토브데이터는 개인정보 관련 규제의 전문지식 뿐 아니라<br/>IT시스템 전반의 설계・개발 및 운영 경험까지 풍부한 전문 인력들이 고객사 환경에 맞는 개인정보보호시스템 구성도 함께 컨설팅 해드립니다.</p>
              </div>
            </div>
            <div class="tov-container-row mb-45">
              <div class="grid grid-cols-2 gap-18 w-full">
                <div class="col-span-2 md:col-span-1">
                  <h5 class="mb-9 text-center text-lg tov-font-en tov-font-gray-3">Seed Group</h5>
                  <div class="flex justify-between relative">
                    <img class="relation-image" src="/images/home/relation/mediaLab.png">
                    <img class="relation-image" src="/images/home/relation/ki.png">
                  </div>
                </div>
                <div class="col-span-2 md:col-span-1">
                  <h5 class="mb-9 text-center text-lg tov-font-en tov-font-gray-3">Investor</h5>
                  <div class="flex justify-between relative">
                    <img class="relation-image" src="/images/home/relation/piamond.png">
                    <img class="relation-image" src="/images/home/relation/kaist.png">
                  </div>
                </div>
              </div>
            </div>
            <div class="tov-container-row">
              <div class="flex justify-between w-full">
                <h2 class="font-bold text-4xl tov-font-gray-2 tov-font-kr">최신 개인정보 뉴스를 알고싶다면?</h2>
                <a class="border border-blue-600 rounded-md px-8 py-1 text-lg tov-font-blue-3 tov-font-kr" href="https://blog.tovdata.com/">토브데이터 블로그 바로가기</a>
              </div>
            </div>
          </div>
        </div>
      </article>
      <!-- Footer -->
      <%- include('./common/footer') %>
    </section>

    <!-- Animate JS -->
    <script type="text/javascript" src="javascripts/animate.js"></script>
    <!-- Nav event JS -->
    <script type="text/javascript" src="javascripts/nav.js"></script>
    <script>
      // Scroll event
      window.addEventListener('scroll', (e) => {
        const scrollPosY = window.innerHeight + window.scrollY;

        // Solution section element
        const eSolutionSection = document.querySelector('.tov-section[data-section="solution"]');
        // Animate (for solution section)
        const sSectionPosY = eSolutionSection.offsetTop;
        eSolutionSection.querySelectorAll('.tov-container-row').forEach(function(elem) {
          if (scrollPosY - 60 > (sSectionPosY + elem.offsetTop)) {
            addAnimation(elem, 'fadeInUp', true);
          }
        });

        // Description section element
        const eDescriptionSection = document.querySelector('.tov-section[data-section="description"]');
        // Animate (for description section)
        let dSectionPosY = eDescriptionSection.offsetTop;
        const dSectionContainer = eDescriptionSection.querySelector('.tov-container-row');
        if (scrollPosY - 60 > (dSectionPosY + dSectionContainer.offsetTop)) {
          dSectionContainer.classList.remove('opacity-0');
          addAnimation(dSectionContainer, 'fadeInUp', true);
        }
      });

      // Banner event
      let prevBannerIndex = 1;
      document.querySelectorAll('.banner-indicator-item').forEach((elem) => {
        elem.addEventListener('click', () => {
          const bannerIndex = Number(elem.dataset.seq);
          if (bannerIndex !== prevBannerIndex) {
            // Get banner element
            const currentBanner = document.querySelector(`.banner-container[data-seq="${bannerIndex}"]`);
            const prevBanner = document.querySelector(`.banner-container[data-seq="${prevBannerIndex}"]`);
            // Set animation
            addAnimation(currentBanner, 'fadeIn', true, ['']);
            addAnimation(prevBanner, 'fadeOut', false, ['hidden']);
            // Change element class
            document.querySelector(`.banner-indicator-item[data-seq="${prevBannerIndex}"]`).classList.remove('active');
            document.querySelector(`.banner-indicator-item[data-seq="${bannerIndex}"]`).classList.add('active');
          }
          prevBannerIndex = bannerIndex;
        });
      });
    </script>
  </body>
</html>