/* Gmarket fonts */
@font-face {
  font-family: 'GmarketSans';
  src: url('../fonts/GmarketSans/GmarketSansLight.woff');
  font-weight: 100;
}

@font-face {
  font-family: 'GmarketSans';
  src: url('../fonts/GmarketSans/GmarketSansMedium.woff');
  font-weight: 400;
}

@font-face {
  font-family: 'GmarketSans';
  src: url('../fonts/GmarketSans/GmarketSansBold.woff');
  font-weight: 700;
}

/* Spoqa Han Sans Neo fonts */
@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 700;
  src: local('Spoqa Han Sans Neo Bold'),
    url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff') format('woff')
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 500;
  src: local('Spoqa Han Sans Neo Medium'),
    url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff') format('woff')
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 400;
  src: local('Spoqa Han Sans Neo Regular'),
    url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff') format('woff')
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 300;
  src: local('Spoqa Han Sans Neo Light'),
    url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.woff') format('woff')
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 100;
  src: local('Spoqa Han Sans Neo Thin'),
    url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.woff') format('woff')
}

/* Font class */
.tov-font-en {
  font-family: 'GmarketSans';
}

.tov-font-kr {
  font-family: 'Spoqa Han Sans Neo', sans-serif;
}