/* Gmarket fonts */
@font-face {
  font-family: 'GmarketSans';
  src: url('../fonts/GmarketSans/GmarketSansLight.woff');
  font-weight: 100;
}
@font-face {
  font-family: 'GmarketSans';
  src: url('../fonts/GmarketSans/GmarketSansMedium.woff');
  font-weight: 400;
}
@font-face {
  font-family: 'GmarketSans';
  src: url('../fonts/GmarketSans/GmarketSansBold.woff');
  font-weight: 700;
}
/* Spoqa Han Sans Neo fonts */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
/* Font class */
.tov-font-en {
  font-family: 'GmarketSans';
}
.tov-font-kr {
  font-family: 'SpoqaHanSansNeo';
}