/* Gmarket fonts */
@font-face {
  font-family: 'GmarketSans';
  src: url('../fonts/GmarketSans/GmarketSansLight.woff');
  font-weight: 100;
}
@font-face {
  font-family: 'GmarketSans';
  src: url('../fonts/GmarketSans/GmarketSansMedium.woff');
  font-weight: 400;
}
@font-face {
  font-family: 'GmarketSans';
  src: url('../fonts/GmarketSans/GmarketSansBold.woff');
  font-weight: 700;
}
/* NotoSansKR fonts */
@font-face {
  font-family: 'NotoSansKR';
  src: url('../fonts/NotoSansKR/NotoSansKR-Light.woff');
  font-weight: 100;
}
@font-face {
  font-family: 'NotoSansKR';
  src: url('../fonts/NotoSansKR/NotoSansKR-Regular.woff');
  font-weight: 400;
}
@font-face {
  font-family: 'NotoSansKR';
  src: url('../fonts/NotoSansKR/NotoSansKR-Bold.woff');
  font-weight: 700;
}