<article class="tov-footer tov-px">
  <div class="tov-footer-left">
    <div class="brand-form">
      <div class="brand-logo mb-3">
        <a href="/"><img src="images/light-logo.png"></a>
      </div>
      <p class="copyright">© 2022 TOVDATA INC. All Rights Reserved.</p>
    </div>
    <div class="platform-form">
      <a class="platform-item" onclick="goYoutube()">
        <img src="icons/footer/youtube.svg">
      </a>
      <a class="platform-item" onclick="goRocketpunch()">
        <img src="icons/footer/rocketpunch.svg">
      </a>
    </div>
  </div>
  <div class="tov-footer-right">
    <div class="grid grid-cols-12 gap-6 tov-footer-row">
      <label class="col-span-3 md:col-span-2 subject">Address</label>
      <label class="col-span-9 content md:col-span-10">9F, E19, KAIST, 291, Daehak-ro, Yuseong-gu, Daejon, Republic of
        Korea</label>
    </div>
    <div class="grid grid-cols-12 gap-6 tov-footer-row">
      <label class="col-span-3 md:col-span-2 subject">Email</label>
      <label class="col-span-9 content md:col-span-10">contact@tovdata.com</label>
    </div>
    <div class="grid grid-cols-12 gap-6 tov-footer-row">
      <label class="col-span-3 md:col-span-2 subject">Contact</label>
      <label class="col-span-9 content md:col-span-10">+82. 42. 721. 8100</label>
    </div>
  </div>
</article>
<script>
  // Go youtube page
  function goYoutube() {
    window.open('https://www.youtube.com/channel/UCEc7piqoELuGEdBflBDWyLg', '_blank');
  }
  // Go rocketpunch page
  function goRocketpunch() {
    window.open('https://www.rocketpunch.com/companies/tovdata', '_blank');
  }
</script>