<!-- Nav (top) -->
<nav class="nav-background">
  <div class="nav-bar">
    <a class="brand-logo" href="/"><img src="images/light-logo.png"></a>
    <a class="nav-list-icon" onclick="showSideNav()"><img src="icons/light-menu.png"></a>
    <div class="nav-list">
      <a class="nav-item" href="https://www.plip.kr" target="_blank">Plip</a>
      <a class="nav-item" href="/privacydam">PrivacyDAM</a>
      <a class="nav-item" href="/consulting">Consulting</a>
      <a class="nav-item" href="https://blog.tovdata.com" target="_blank">Blog</a>
      <!-- <a class="nav-item" href="/company">Company</a> -->
      <a class="nav-item" href="/contact">Contact</a>
    </div>
  </div>
</nav>
<!-- Nav (side) -->
<nav class="nav-side">
  <div style="width:90%; text-align: right;">
    <a class="nav-close" onclick="hiddenSideNav()"><img src="icons/cancel.png"></a>
  </div>
  
  <div class="nav-list">
    <a class="nav-item" href="https://www.plip.kr" target="_blank">Plip</a>
    <a class="nav-item" href="/privacydam">PrivacyDAM</a>
    <a class="nav-item" href="/consulting">Consulting</a>
    <a class="nav-item" href="https://blog.tovdata.com" target="_blank">Blog</a>
    <!-- <a class="nav-item" href="/company">Company</a> -->
    <a class="nav-item" href="/contact">Contact</a>
  </div>
</nav>
<!-- Nav Event -->
<script>
  // Show side nav event
  function showSideNav() {
    document.querySelector('.nav-side').classList.add('active');
  }
  // Close side nav event
  function hiddenSideNav() {
    document.querySelector('.nav-side').classList.remove('active');
  }
</script>