<article class="footer" style="background-color: #0D2144; color: #FFFFFF;">
  <div class="container mx-auto">
    <div class="flex lg:px-17 xl:px-34 px-14 py-17 flex-col md:flex-row">
      <div class="flex flex-row mb-13 md:flex-col md:mb-0 md:mr-25 mr-0 justify-between">
        <div>
          <div class="brand-logo logo-bottom mb-3">
            <a href="/"><img src="/images/light-logo.png"></a>
          </div>
          <p class="font-light text-xs text-white">© 2021 TOVDATA Inc. All Rights Reserved.</p>
        </div>
        <div>
          <span class="h-7 inline-block mr-2.5 rounded-full w-7">
            <a href="https://www.youtube.com/watch?v=hWil2OMM6vk"><img src="/icons/footer/youtube.svg"></a>
          </span>
          <span class="h-7 inline-block rounded-full w-7">
            <a href="https://www.rocketpunch.com/companies/tovdata"><img src="/icons/footer/rocketpunch.svg"></a>
          </span>
        </div>
      </div>
      <div class="flex-1">
        <div class="grid grid-cols-10 mb-10">
          <label class="col-span-2 font-bold md:text-sm text-xs tov-font-en tov-line-height">Address</label>
          <label class="col-span-8 md:text-sm text-xs tov-font-en tov-line-height">9F, E19, KAIST, 291, Daehak-ro, Yuseong-gu, Daejon, Republic of Korea</label>
        </div>
        <div class="grid grid-cols-10 mb-10">
          <label class="col-span-2 font-bold text-sm tov-font-en tov-line-height">Email</label>
          <label class="col-span-8 md:text-sm text-xs tov-font-en tov-line-height">contact@tovdata.com</label>
        </div>
        <div class="grid grid-cols-10">
          <label class="col-span-2 font-bold md:text-sm text-xs tov-font-en tov-line-height">Contact</label>
          <label class="col-span-8 md:text-sm text-xs tov-font-en tov-line-height">+82. 42. 721. 8100</label>
        </div>
      </div>
    </div>
  </div>
</article>